<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>第 1 张图片</string>
	<string>第 2 张图片</string>
	<string>第 3 张图片</string>
	<string>第 4 张图片</string>
	<string>第 5 张图片</string>
	<string>第 6 张图片</string>
	<string>第 7 张图片</string>
	<string>第 8 张图片</string>
	<string>第 9 张图片</string>
	<string>第 10 张图片</string>
	<string>第 11 张图片</string>
	<string>第 12 张图片</string>
</array>
</plist>
