<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>content</key>
		<string>苦是给自己吃的，帅是给别人看的，路是要和有梦的人一起走的</string>
		<key>icon</key>
		<string>小埋00.jpg</string>
		<key>image</key>
		<string>1.jpg</string>
		<key>name</key>
		<string>喵喵喵</string>
		<key>source</key>
		<string>iPhone X客户端</string>
		<key>time</key>
		<string>今天18:01</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>content</key>
		<string>有金工和物理实验冲突的人找我，或许我们可以互换实验，详细的联系QQ2587793749详谈</string>
		<key>icon</key>
		<string>小埋01.jpg</string>
		<key>name</key>
		<string>小喇叭</string>
		<key>source</key>
		<string>iPhone X客户端</string>
		<key>time</key>
		<string>今天18:50</string>
		<key>vip</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>content</key>
		<string>那种愿意极其耐心给你讲题目的 一遍不懂就讲十遍二十遍的 这种男生才是最帅的 其他的都是虚的</string>
		<key>icon</key>
		<string>小埋02.jpg</string>
		<key>image</key>
		<string>2.jpg</string>
		<key>name</key>
		<string>正能墙</string>
		<key>source</key>
		<string>Honor客户端</string>
		<key>time</key>
		<string>今天19:19</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>content</key>
		<string>小鹦鹉模仿安卓手机短息铃声，还挺有趣的</string>
		<key>icon</key>
		<string>小埋03.jpg</string>
		<key>image</key>
		<string>3.jpg</string>
		<key>name</key>
		<string>青雉</string>
		<key>source</key>
		<string>PC客户端</string>
		<key>time</key>
		<string>今天19:21</string>
		<key>vip</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>content</key>
		<string>You are very common, but very special in my eyes.</string>
		<key>icon</key>
		<string>小埋04.jpg</string>
		<key>image</key>
		<string>4.jpg</string>
		<key>name</key>
		<string>樱花公子</string>
		<key>source</key>
		<string>iPhone 6s客户端</string>
		<key>time</key>
		<string>今天19:41</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>content</key>
		<string>生活使我健步如飞</string>
		<key>icon</key>
		<string>小埋05.jpg</string>
		<key>image</key>
		<string>5.jpg</string>
		<key>name</key>
		<string>撕逼墙</string>
		<key>source</key>
		<string>黑莓客户端</string>
		<key>time</key>
		<string>今天20:11</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>content</key>
		<string>别在意那在你背后说三道四的人，那只不过说明了你走在了他们前面</string>
		<key>icon</key>
		<string>小埋06.jpg</string>
		<key>image</key>
		<string>6.jpg</string>
		<key>name</key>
		<string>故事配酒你配🐶</string>
		<key>source</key>
		<string>iPhone X客户端</string>
		<key>time</key>
		<string>今天20:11</string>
		<key>vip</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>content</key>
		<string>世上有两种最耀眼的光芒 一种是太阳 一种是我们努力的模样</string>
		<key>icon</key>
		<string>小埋07.jpg</string>
		<key>image</key>
		<string>7.jpg</string>
		<key>name</key>
		<string>全幼稚园最不可爱</string>
		<key>source</key>
		<string>iPhone 6s Plus客户端</string>
		<key>time</key>
		<string>今天20:21</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>content</key>
		<string>若你没有经历过我的旅程，就不要批判我走的道路</string>
		<key>icon</key>
		<string>小埋08.jpg</string>
		<key>image</key>
		<string>8.jpg</string>
		<key>name</key>
		<string>阿哲</string>
		<key>source</key>
		<string>iPhone客户端</string>
		<key>time</key>
		<string>今天20:35</string>
		<key>vip</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>content</key>
		<string>为什么有些女生，活得像开了挂</string>
		<key>icon</key>
		<string>小埋09.jpg</string>
		<key>image</key>
		<string>9.jpg</string>
		<key>name</key>
		<string>心机boy</string>
		<key>source</key>
		<string>iPhone X客户端</string>
		<key>time</key>
		<string>今天21:21</string>
		<key>vip</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>content</key>
		<string>Good relationships don&apos;t just happen. They take time, patience and two people who truly want to be together.</string>
		<key>icon</key>
		<string>小埋10.jpg</string>
		<key>image</key>
		<string>10.jpg</string>
		<key>name</key>
		<string>三少</string>
		<key>source</key>
		<string>HUAWEI Mate客户端</string>
		<key>time</key>
		<string>今天21:51</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
